.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  
  
}
 .container{
  display : flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(23,31,42) ;
 }

 .user{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border : 0.5px solid gainsboro;
  width: 25vw;
 }

 .home{
  display: flex;
  flex-direction: column;
  color: white;
  border : 0.5px solid gainsboro;
  width : 50vw;
 }

 .trends{

  color: white;
  border : 0.5px solid gainsboro;
  width : 25vw;
 }

 .logo{
  height: 45px;
  width: 45px;
  margin-left: 25px;
  margin-top: 10px;
  
 }

 .tweet{
  display: flex;
  
  
 }

 .userwindow{
  border: 10px white;
  padding: 200px;

 }

 .userInfoContainer{
  display: flex;
  align-items: column;
 }

 .userimg{
  border-radius: 50%;
  width: 25%;
  height: 25%;
 }
