.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  
  
}
 .container{
  display : flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(23,31,42) ;
 }

 .user{
  
  border : 0.5px solid gainsboro;
  width: 25vw;
 }

 .home{
  display: flex;
  flex-direction: column;
  color: white;
  border : 0.5px solid gainsboro;
  width : 50vw;
 }

 .trends{

  color: white;
  border : 0.5px solid gainsboro;
  width : 25vw;
 }

 .logo{
  height: 45px;
  width: 45px;
  margin-left: 25px;
  margin-top: 10px;
  
 }

 .tweet{
  display: flex;
  
  
 }
